body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}
input {
  padding: 5px;
  outline: none;
  margin-right: 10px;
  border-radius: 0;
  border: 1px solid #fafafa;
  border-bottom: 2px solid #0000ff;
  font-size: 1rem;
  color: #0000ff;
  background-color: #fafafa;
  margin-bottom: 20px;
  width: 50%;
}
button {
  font-size: 1rem;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #fafafa;
  background: transparent;
  color: #0000ff;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  font-weight: bold;
}
*:focus {
  outline: none;
}
li {
  list-style: none;
}
